site_name: PlutoKirin Docs
site_url: https://plutokirin.github.io/PlutoKirin_Docs
repo_url: https://github.com/PlutoKirin/PlutoKirin_Docs
repo_name: PlutoKirin_Docs

theme:
  name: material
  custom_dir: overrides
  language: en
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to system mode
  features:
    - palette.toggle
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - search.highlight
    - content.code.copy

extra_css:
  - css/extra.css

# nav has been moved to .nav.yml

plugins:
  - statistics:
      page_statistics: true
      page_read_time: true
      words_per_minute: 300
      codelines_per_minute: 80
  - search
  - awesome-nav
#  - blogging
  - callouts


extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js
  - js/relative-time.js

# Markdown Extensions
markdown_extensions:
  - pymdownx.arithmatex
  - pymdownx.b64
  - pymdownx.betterem
  - pymdownx.blocks.admonition
  - pymdownx.blocks.definition
  - pymdownx.blocks.details
  - pymdownx.blocks.html
  - pymdownx.blocks.tab
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.escapeall
  - pymdownx.extra
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.pathconverter
  - pymdownx.progressbar
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.striphtml
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.tilde

  # Math Extension
  - mdx_math
  
  - admonition
  - attr_list

  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  - toc:
      permalink: true
      toc_depth: 6

  - pymdownx.arithmatex:
      generic: true
  
  - meta
